*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f7fb;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

li {
  list-style-type: none;
}

nav {
  background-color: #fafbfd;
  width: 100%;
}

.nav-container {
  z-index: 5;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 2.7rem;
  padding: 10px;
  display: flex;
  box-shadow: 0 10px 2px #dadcdf;
}

.container {
  width: 100%;
  display: flex;
}

aside {
  background-color: #fff;
  border-radius: 2px;
  width: 200px;
  height: 100vh;
  padding: 18px;
  font-family: monospace;
}

main {
  background-color: #eceff6;
  flex: 1;
  width: calc(100% - 200px);
  padding: 18px;
  font-family: sans-serif;
}

.logo {
  font-size: 35px;
}

.circle {
  background-color: #6569785a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.quick-settings-box {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
}

.profile-box {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  display: flex;
}

.profile-box > div, .profile-box > span {
  cursor: pointer;
}

.profile-box:before, .profile-box:after {
  content: "";
  background-color: #6569783a;
  width: 1.5px;
  height: 30px;
  margin: 5px;
}

.profile-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profile-info .profile-desc {
  font-size: 12px;
}

.menu-2 {
  cursor: pointer;
  font-size: 25px;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.box {
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  display: flex;
}

.megamenus div {
  cursor: pointer;
}

.megamenus {
  gap: 15px;
  font-size: 15px;
}

.gap-5 {
  gap: 5rem;
}

.menu-title {
  color: #4e76db;
  font-size: 16px;
}

.menu-item, .menu-title {
  margin-bottom: 10px;
}

.menu-item-list {
  color: #8e97a0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  list-style: none;
  display: flex;
}

.menu-item-list ul {
  border-left: 1px solid #8e97a0;
  padding-left: 12px;
}

.menu-item-list li {
  cursor: pointer;
  padding: 5px 0;
}

.menu-item .title {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 12px;
  font-weight: bold;
}

.fa-chevron-down {
  margin-left: 2px;
  font-size: 10px;
}

ul li:hover, .menu-item .title:hover {
  text-decoration: underline;
}

.opened {
  color: #000;
  font-weight: bold;
}

.flex-1 {
  flex: 200px;
}

.alert {
  background-color: #cfeeff;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  z-index: 1;
  background-color: #f1f1f1;
  min-width: 160px;
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px #0003;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn {
  color: #000;
  cursor: pointer;
  border: none;
  padding: 15px 16px;
  font-size: 16px;
}

.dropbtn:hover, .minimal > span:hover {
  text-decoration: underline;
}

.show {
  display: block;
}

.row {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  display: flex;
}

.box-content {
  background-color: #fff;
  border-radius: 5px;
  width: calc(25% - 20px);
  height: 120px;
  margin: 0 10px;
  padding: 5px;
}

.box-content .title {
  color: #8e97a0ef;
  margin: 5px;
  font-size: 16px;
}

.box-content .main-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.box-content .main-content span {
  margin: 20px 0 0 5px;
}

.minimal > span {
  cursor: pointer;
}

.statistics-1 .box-content:first-child {
  border-bottom: 4px solid #00f;
}

.statistics-1 .box-content:nth-child(2) {
  border-bottom: 4px solid red;
}

.statistics-1 .box-content:nth-child(3) {
  border-bottom: 4px solid #ffd900;
}

.statistics-1 .box-content:nth-child(4) {
  border-bottom: 4px solid #50ed16;
}

.statistics-1 .box-content .number {
  font-size: 25px;
  font-weight: bold;
}

.statistics-1 .box-content:first-child .progress-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#00f 58%, #cecacb 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: flex;
}

.statistics-1 .box-content:nth-child(2) .progress-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(red 62%, #cecacb 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: flex;
}

.statistics-1 .box-content:nth-child(3) .progress-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#ffd900 72%, #cecacb 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: flex;
}

.statistics-1 .box-content:nth-child(4) .progress-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#50ed16 81%, #cecacb 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: flex;
}

.acquisitions {
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 3px #9c999c;
}
/*# sourceMappingURL=index.3092e1e0.css.map */
